.displayPictureWrapper{
  position: relative;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
  &::before{
    content: "";
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 4s linear infinite;
  }
  &:hover{
    &::before{
      inset: -20px 0;
    }
  }
  &::after{
    content: '';
    position: absolute;
    inset: 6px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 1;
  }
}
.displayImage{
  position: absolute;
  inset: 20px;
  z-index: 2;
  border-radius: 50%;
  overflow: hidden;
  img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
}
@keyframes animate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg);
  }
}